@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "yekan";
	src: url("fonts/BYekan.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "yekan";
	src: url("fonts/BYekanBold.ttf");
	font-weight: bold;
}
.rowlr {
	@apply flex w-full flex-row justify-between;
}

.hedear .textupheader {
	@apply font-bold text-white hover:text-stone-400 hover:shadow;
}

.hedear .search_box {
	@apply relative m-0 block h-[70%] w-full min-w-0 flex-auto border-r-2 border-gray-400 bg-gray-300 bg-clip-padding px-3 py-1.5 text-right font-[yekan] font-bold text-gray-600 transition ease-in-out focus:bg-gray-300 focus:text-gray-700 focus:outline-none;
}

.baner_pic {
	@apply rounded-[10px] shadow-lg hover:shadow-2xl;
}

.baner_minipic {
	@apply m-[3px] h-[130px] w-[210];
	background-size: contain;
	background-position: center center;
}
.baner .botton {
	@apply h-7 w-7 rounded-[3px] border-2 border-white bg-fuchsia-600 hover:bg-fuchsia-800 hover:shadow-xl;
}

.baner .dot_inner {
	@apply m-[5px] h-[5px] w-[15px] rounded-full bg-white p-[5px] shadow-2xl hover:bg-gray-600;
}

.baner .navar_inner {
	@apply flex h-[20px] flex-row items-center px-[50px];
}
.baner .dot_inner_click {
	@apply m-[5px] h-[6px] w-[20px] rounded-full bg-gray-700 p-[6px] shadow hover:bg-gray-600;
}

.category .part1 {
	@apply flex h-[70px] w-[1100px] flex-row;
}

.category .pic {
	@apply m-[5px] h-[100px] w-[100px] rounded-md hover:h-[110px] hover:w-[110px] hover:filter-none;
	filter: grayscale(100%);
	background-size: contain;
	background-position: center center;
}

body {
	font-family: "yekan";
}
